.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blockBtn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contactItem {
  display: flex;
  gap: 5px;
}

.icon {
  fill: var(--cardinal);
}

.button {
  padding: 5px 5px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .blockBtn {
    flex-direction: row;
  }
  .button {
    padding: 5px 15px;
  }
}
